/* common property */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@500&display=swap");
body {
  margin: 0;
  padding: 10px 10px;
  font-family: "Poppins", sans-serif;
  background-color: #cad5e2;
}
/* header  */
header {
  padding: 2% 5%;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-item ul {
  display: flex;
  text-decoration: none;
}
.menu-item ul li {
  list-style: none;
  margin-right: 1em;
}
/* main  */
h1 {
  font-size: 40px;
  font-weight: 2em;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 2em;
  font-weight: lighter;
}
p {
  line-height: 2em;
}
.button {
  text-decoration: none;
  background-color: #22cb5c;
  padding: 10px 30px;
  color: white;
  border-radius: 5%;
  font-weight: 200;
  font-size: 22px;
}
.button .fa-arrow-right {
  display: none;
}
.button:hover {
  padding: 10px 40px;
  transition: padding 0.5s ease-in-out;
}
.button:hover .fa-arrow-right {
  display: inline-block;
}
/* Top-section */
.top-container {
  display: flex;
  align-items: center;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
/* Services and Review section */
.service-title {
  text-align: center;
  margin-top: 5%;
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-column-gap: 1em;
  padding: 5%;
}
.service {
  background-color: white;
  margin-bottom: 5%;
  padding: 4% 4%;
  border-radius: 2%;
}
.service .service-banner img {
  width: 100%;
}
.price {
  font-weight: lighter;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #a2a2a2;
}
.more-button {
  color: black;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
  width: 15%;
  float: right;
}
.more-button .fa-arrow-right {
  display: none;
}
.more-button:hover .fa-arrow-right {
  display: inline-block;
}
.all-service {
  margin-bottom: 5%;
}

/* Satisfied-Buyer */

.buyer h2 {
  text-align: center;
}
.all-buyer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buyer-img {
  display: flex;
  align-items: center;
}
.buyer-img img {
  width: 70px;
  height: 70px;
}

.buyer-title {
  text-align: center;
}
.buyer1 {
  background-color: white;
  padding: 5%;
  margin: 5%;
  border-radius: 2%;
}

/* Footer section  */
footer {
  background-color: black;
  color: white;
  padding: 3% 3%;
  text-align: center;
}

/* Mobile Device */

@media only screen and (max-width: 688px) {
  .top-container {
    display: block;
  }
  .services {
    display: block;
  }
  .half-width {
    width: 90%;
    margin-top: 5%;
  }
  .more-button {
    width: 94%;
  }
  .all-buyer {
    display: block;
  }
}

/* Tablet devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .more-button {
    width: 94%;
  }
  .all-buyer {
    display: block;
  }
}
